
$stupid-blue: #1b00ff;
$stupid-green: #06FF00;
$stupid-yellow: #EFE719;
$stupid-pink: #ff41a6;
$stupid-violet: #EB1FFE;
$stupid-orange: #ff9a00;
$stupid-red: #ff2600;
$stupid-black: #2a2a2a;

$md-size: 16px;

$sm-size: 0.75 * $md-size;
$xm-size: 20px;
$lg-size: 2.25 * $md-size;
$xl-size: 3 * $md-size;
$xxl-size: 4 * $md-size;

html {
    height: 100%;
    background-color: #1b00ff;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-size: $md-size;
    height: 100%;
}

::selection {
    color: white;
    background: $stupid-red;
}

@font-face {
    font-family: "FA Sysfont C";
    src: url("fa-sysfont-c.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}