@import '_mixin.scss';

.wrapper {
    position: relative;
    z-index: 1;
    height: 100%;

    &__space {
        background-color: $stupid-blue;
        background: url("/bg.webp");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

.nes-pointer {
    cursor: $cursor-click-url, pointer;
}

.section {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 100vw !important;

    h2 {
        font-size: $lg-size;
    }

    &__title-container {
        margin: 30px 0 80px 0;
    }

    &__title {
        font-size: $xl-size;

        span {
            background-color: $stupid-black;
            color: $stupid-white;
            padding: 16px;
        }
    }

    &__container {
        padding: 5% 10%;
        border-top: 5px solid $stupid-black;

        @include respond-to(extralarge) {
            padding: 5% 20%;
        }

        @include respond-to(small) {
            padding: 10px 25px;
        }
    }

    &__body {
        font-size: $md-size;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 150px;
        height: 100vh;

        & .section__title {
            line-height: 1;
            font-size: 3.75rem;
            color: white;

            @include respond-to(extralarge) {
                font-size: $xxl-size;
            }
        }
        
        & .btn-container {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 25px 0;
    
            @include respond-to(small) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                margin: 0;
                height: 40%;
            }
        }

        @include respond-to(extralarge) {
            padding: 0 20%;
        }
        
        @include respond-to(large) {
            justify-content: space-around;
            padding: 0 65px;
        }
    
        @include respond-to(medium) {
            padding: 0 50px;
        }
    
        @include respond-to(small) {
            justify-content: center;
            padding: 10px 25px;
        }
    }

    &--v-1 {
        background-color: rgba(255, 221, 29, 0.816);
    }

    &--v-2 {
        background-color: rgba(228, 44, 188, 0.816);
    }
}

.text-box {
    padding: 24px;
    font-size: $xm-size;
    line-height: 2rem;
    color: $stupid-black;
    border: 5px solid $stupid-black;
    margin: 25px 0;

    &--green {
        background-color: $stupid-green;
    }
    &--yellow {
        background-color: $stupid-yellow;
    }
    &--pink {
        background-color: $stupid-pink;
    }
    &--red {
        background-color: $stupid-red;
    }
    &--orange {
        background-color: $stupid-orange;
    }
}

.status {
    @include card;

    &__title h2 {
        font-size: $lg-size;
        margin-top: 0.75rem;
    }

    &__description p {
        font-size: $md-size;
    }

    &__count {
        font-size: $lg-size;
        line-height: 2rem;
        text-align: right;
    }

    &__flag {
        width: 1rem;
        height: 1rem;

        &--active {
            background-color: $stupid-green;
        }

        &--full {
            background-color: $stupid-red;
        }
    }
}

.toggle {
    &--toggled &__body {
        transform: translateY(0px);
        max-height: 250px;
        height: auto;
        padding: 25px;
    }

    &--toggled &__title h2::before {
        transform: translateY(-8px) rotate(90deg);
    }

    &__header {
        @include card;
        padding-bottom: 48px;
        margin-bottom: 0;
        border-bottom: 1px solid $stupid-white;
        transition: background-color 0.1s ease-in;

        position: relative;
        z-index: 1;

        &:hover {
            background-color: #1b1b1b;
        }
        &:active {
            background-color: #171717;
        }
    }

    &__flag {
        width: 1rem;
        height: 1rem;
        background-color: $stupid-yellow;

        &--green {
            background-color: $stupid-green;
        }
        &--yellow {
            background-color: $stupid-yellow;
        }
        &--pink {
            background-color: $stupid-pink;
        }
        &--red {
            background-color: $stupid-red;
        }
        &--orange {
            background-color: $stupid-orange;
        }
    }

    &__title {
        transition: all 0.25s ease-out;

        h2 {
            font-size: $lg-size;
            margin-top: 0.75rem;
            
            &::before {
                content: ">";
                display: inline-block;
    
                font-size: $lg-size;
                vertical-align: middle;
                margin-right: 0.7rem;
                transform: translateY(-10px);
    
                transition: transform 0.2s ease-out;
            }
        }
    }

    &__body {
        @include card;

        margin-bottom: 0;
        max-height: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: transform 0.3s ease-in-out, height .2s ease-out, padding .2s ease-out;
        transform: translateY(-100px);

        position: relative;
        z-index: 0;
    }

    &__content {
        padding: 0.5rem 1rem;

        p {
            font-size: $xm-size;
            margin: 0;
        }
    }

    margin-bottom: 1.5rem;
}

.nes-btn__green {
    background-color: $stupid-green !important;
    font-size: 2.25rem;

    &:hover {
        filter: brightness(90%);
    }
}

.btn {
    font-size: $lg-size;
    background-color: $stupid-green;
    padding: 10px 12px;
    box-shadow: 4px 0 0 #000,
                0 4px 0 #000,
                -4px 0 0 #000,
                0 -4px 0 #000,
                inset -4px -4px 0 #177013;

    &:hover,
    &:focus {
        box-shadow: 4px 0 0 #000,
                    0 4px 0 #000,
                    -4px 0 0 #000,
                    0 -4px 0 #000,
                    inset -6px -6px 0 #177013;
        background-color: $stupid-green;
        filter: brightness(.9);
    }

    @include respond-to(small) {
        font-size: $md-size;
    }

    @include respond-to(medium) {
        font-size: 1.75rem;
    }
}