.section {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 100vw !important;

    &__inner {
        padding: 5% 15%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    &__v-1 {
        color: $stupid-black;
        background-color: $stupid-yellow;
    }
    &__v-2 {
        background-color: $stupid-blue;
    }
}

.nes-btn--green {
    background-color: $stupid-green !important;
    font-size: 2.25rem;

    &:hover {
        filter: brightness(90%);
    }
}

.block-title {
    margin-bottom: 25px;
}

@media screen and (min-width: 1300px) {
    #heading-title {
        font-size: 4rem;
    }
}

@media screen and (max-width: 890px) {
    .nes-btn--green {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 540px) {
    .nes-btn--green {
        font-size: 1rem;
    }
}
