@import '_mixin.scss';

#contact {
    @include respond-to(small) {
        .section__title-container {
            margin-bottom: 36px;
        }
    }

    .contact-link {
        width: 100%;
        word-wrap: break-word;
    
        &__text {
            font-size: $xm-size;
            color: $stupid-red;
            text-decoration: underline;
        }
    }
}

#header-index {
    & .nes-btn {
        margin: 10px 0;

        @include respond-to(small) {
            font-size: $xm-size;
        }
    }

    & .section__header__title {
        margin: 25px 0;

        @include respond-to(extralarge) {
            padding-left: 5%;
            padding-top: 5%;
        }

        @include respond-to(small) {
            margin: 0;
        }
    }
}

#astro {
    position: fixed;
    right: 15%;
    top: 15%;
    max-width: 100%;
    height: 50%;
    z-index: -1;
    will-change: height, transform;

    @include respond-to(extralarge) {
        top: 15%;
        right: 25%;
    }

    @include respond-to(large) {
        top: 15%;
        right: 25px;
    }
    
    @include respond-to(medium) {
        top: 35%;
        right: 0;
    }

    @include respond-to(small) {
        top: 56%;
        right: -15px;
    }
}