body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    height: 100%;
}

::selection {
    color: white;
    background: #ff2600;
}

html {
    height: 100%;
    background-color: #1b00ff;
}

@font-face {
    font-family: "FA Sysfont C";
    src: url("fa-sysfont-c.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

#wrapper {
    background: url("/bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#astro {
    position: fixed;
    right: 10%;
    top: 30px;
    max-width: 100%;
    height: 50%;
    z-index: -1;
}

@media screen and (max-width: 710px) {
    #astro {
        top: 35%;
        right: 1%;
    }
}