body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

html {
  height: 100%;
  background-color: #1b00ff;
}

@font-face {
  font-family: "FA Sysfont C";
  src: url("fa-sysfont-c.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
