@import '_mixin.scss';

.wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    text-align: center;

    &.-space {
        background-color: $stupid-blue;
        background: url("/bg.webp");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

.nes-pointer {
    cursor: $cursor-click-url, pointer;
}

.section-block {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 100vw !important;

    h3 {
        font-size: $lg-size;
    }

    > .section-container {
        padding: 5% 10%;
        border-top: 5px solid $stupid-black;

        @include respond-to(extralarge) {
            padding: 5% 15%;
        }

        @include respond-to(small) {
            padding: 10px 25px;
        }
    }

    .body {
        font-size: $md-size;
    }

    &.-v1 {
        background-color: #ffdd1fd9;
    }

    &.-v2 {
        background-color: #e42cbcd9;
    }

    &.-v3 {
        background-color: #39ff14dd;
    }

    &.-v4 {
        background-color: #deeaeedd;
    }
}

.section-block .title-container {
    margin: 30px 0 50px 0;
    
    @include respond-to(small) {
        margin: 30px 0;
    }
    
    .title {
        font-size: $xl-size;
        
        > .inner {
            background-color: $stupid-black;
            color: white;
            padding: 16px;
            transition: all 200ms ease;
            
            &:hover,
            &:focus {
                background-color: $stupid-red;
                color: white;
            }
        }
    }
}

.section-block.-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 150px;
    height: 100vh;

    > .title-container > .title {
        line-height: 1;
        font-size: 3.75rem;
        color: white;

        @include respond-to(extralarge) {
            font-size: $xxl-size;
        }
    }
    
    > .btn-container {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px 0;

        @include respond-to(small) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            margin: 0;
            height: 40%;
        }
    }

    @include respond-to(extralarge) {
        padding: 0 20%;
    }
    
    @include respond-to(large) {
        justify-content: space-around;
        padding: 0 65px;
    }

    @include respond-to(medium) {
        padding: 0 50px;
    }

    @include respond-to(small) {
        justify-content: center;
        padding: 10px 25px;
    }
}

.text-box {
    padding: 24px;
    font-size: $xm-size;
    line-height: 2rem;
    color: $stupid-black;
    border: 5px solid $stupid-black;
    margin: 25px 0;

    @include dynamic-bg();
}

.status-block {
    @include card;

    > .title {
        font-size: $lg-size;
        margin-top: 0.75rem;
    }

    > .description {
        font-size: $md-size;
    }

    > .count {
        font-size: $lg-size;
        line-height: 2rem;
        text-align: right;
    }
}

.project-card {
    @include card;

    margin-top: 2rem;
    border: 2px solid #000;

    .name {
        margin-bottom: 0;
        font-size: 2rem;
        overflow-wrap: break-word;
    }

    .description {
        margin: 30px 0;
    }

    .team-info {
        display: grid;
        grid-template-areas: 'x y';
        
        > .teamname {
            font-size: 1rem;
            margin-right: 1rem;
            grid-area: x;
            overflow-wrap: anywhere;
        }

        > .members {
            margin-left: auto;
            grid-area: y;
            overflow-wrap: anywhere;
        }

        .label {
            display: block;
            margin-bottom: 1.5rem;
        }

        @include respond-to(small) {
            grid-template-areas: 
            'x'
            'y';
        }
    }
}

.project-card.-v1 {
    .name, .label {
        color: #111;
    }

    .teamname, .members {
        color: #333;
    }

    .separator {
        border: 1.5px solid #111;
        background-color: #111;
    }

    .description {
        color: #333;
    }
}

.project-card.-v2 {
    .name, .label {
        color: #eee;
    }

    .teamname, .members {
        color: #dadada;
    }

    .separator {
        border: 1.5px solid #eee;
        background-color: #eee;
    }

    .description {
        color: #dadada
    }
}

.video-container {
    width: 100%;

    > .video {
        width: 100%;

        cursor: $cursor-auto-url, auto;

        :hover, :active {
            cursor: $cursor-click-url, pointer;
        }
    }
}

.status-block > .flag {
    width: 1rem;
    height: 1rem;

    &.-active {
        background-color: $stupid-green;
    }

    &.-full {
        background-color: $stupid-red;
    }
}

.toggle-block {
    margin-bottom: 1.5rem;

    &.-toggled > .toggle-body {
        transform: translateY(0px);
        max-height: 250px;
        height: auto;
        padding: 25px;
    }

    &.-toggled .title h2::before {
        transform: translateY(-8px) rotate(90deg);
    }

    > .toggle-header {
        @include card;
        padding-bottom: 48px;
        margin-bottom: 0;
        border-bottom: 1px solid $stupid-white;
        transition: background-color 0.1s ease-in;

        position: relative;
        z-index: 1;

        &:hover {
            background-color: #1b1b1b;
        }
        &:active {
            background-color: #171717;
        }
    }

    > .toggle-body {
        @include card;

        margin-bottom: 0;
        max-height: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: transform 0.3s ease-in-out, height .2s ease-out, padding .2s ease-out;
        transform: translateY(-100px);

        position: relative;
        z-index: 0;
    }
}

.toggle-header {
    > .title {
        transition: all 0.25s ease-out;
        font-size: $lg-size;
        margin-top: 0.75rem;
        
        &::before {
            content: ">";
            display: inline-block;

            font-size: $lg-size;
            vertical-align: middle;
            margin-right: 0.7rem;
            transform: translateY(-10px);

            transition: transform 0.2s ease-out;
        }
    }

    > .flag {
        width: 1rem;
        height: 1rem;
        background-color: $stupid-yellow;
    
        @include dynamic-bg();
    }
}

.toggle-body {
    > .content {
        padding: 0.5rem 1rem;

        p {
            font-size: $xm-size;
            margin: 0;
        }
    }
}

.btn {
    font-size: $lg-size;
    background-color: $stupid-green;
    color: #2d2d2d;
    padding: 10px 12px;
    box-shadow: 4px 0 0 #000,
                0 4px 0 #000,
                -4px 0 0 #000,
                0 -4px 0 #000,
                inset -4px -4px 0 #177013;

    &:hover,
    &:focus {
        box-shadow: 4px 0 0 #000,
                    0 4px 0 #000,
                    -4px 0 0 #000,
                    0 -4px 0 #000,
                    inset -6px -6px 0 #177013;
        background-color: $stupid-green;
        filter: brightness(.9);
    }

    @include respond-to(small) {
        font-size: $md-size;
    }

    @include respond-to(medium) {
        font-size: 1.75rem;
    }
}

.btn.-purple {
    background-color: $stupid-violet;

    box-shadow: 4px 0 0 #000,
                0 4px 0 #000,
                -4px 0 0 #000,
                0 -4px 0 #000,
                inset -4px -4px 0 #70136b;

    &:hover,
    &:focus {
        box-shadow: 4px 0 0 #000,
                    0 4px 0 #000,
                    -4px 0 0 #000,
                    0 -4px 0 #000,
                    inset -6px -6px 0 #70136b;
        background-color: $stupid-violet;
        filter: brightness(.9);
    }
}

.btn.-gold {
    background-color: #e7c21a;

    box-shadow: 4px 0 0 #000,
                0 4px 0 #000,
                -4px 0 0 #000,
                0 -4px 0 #000,
                inset -4px -4px 0 #bb9900;

    &:hover,
    &:focus {
        box-shadow: 4px 0 0 #000,
                    0 4px 0 #000,
                    -4px 0 0 #000,
                    0 -4px 0 #000,
                    inset -6px -6px 0 #bb9900;
        background-color: #e7c21a;
        filter: brightness(.9);
    }
}