@import '_mixin.scss';

.section-container#contact {
    @include respond-to(small) {
        & > .title-container {
            margin-bottom: 36px;
        }
    }
}

.facebook-container {
    mix-blend-mode: luminosity;
    
    .facebook-embed {
        width: 61%;

        @include respond-to(1025px) {
            width: 75%;
        }

        @include respond-to(833px) {
            width: 85%;
        }

        @include respond-to(747px) {
            width: 100%;
        }
    }
}

.section-container#agenda {
    @include respond-to(extralarge) {
        padding: 5% 20%;
    }
}

.section-block#header-section {
    .nes-btn {
        margin: 10px 0;

        @include respond-to(small) {
            font-size: $xm-size;
        }
    }

    .title {
        margin: 25px 0;
        text-align: left;

        @include respond-to(extralarge) {
            padding-left: 5%;
            padding-top: 5%;
        }

        @include respond-to(small) {
            margin: 0;
        }
    }
}

#astro {
    position: fixed;
    right: 15%;
    top: 15%;
    max-width: 100%;
    height: 50%;
    z-index: -1;
    will-change: height, transform;

    @include respond-to(extralarge) {
        top: 15%;
        right: 25%;
    }

    @include respond-to(large) {
        top: 15%;
        right: 25px;
    }
    
    @include respond-to(medium) {
        top: 35%;
        right: 0;
    }

    @include respond-to(small) {
        top: 56%;
        right: -15px;
    }
}

.agenda-container {
    width: 100%;
    display: flex;
    justify-content: center;

    > div {
      position: unset !important;
    }

    .agenda-img {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}
