@import '_mixin.scss';

.section-container#contact {
    @include respond-to(small) {
        & > .title-container {
            margin-bottom: 36px;
        }
    }
}

.section-container#vote {
    padding: 1rem 15%;

    @include respond-to(medium) {padding: 1rem 7%;}
}

.section-container#vote .buttons {
    display: flex;
    justify-content: center;

    > .btn:not(:first-child) {
        margin-left: 1.5rem;
    }
}

.section-container#vote .vote-container {
    display: block;

    .top {
        display: block;
    }

    .bottom {
        display: block;
    }
}

.section-container#vote .vote-container > .top {
    padding-top: 24px;

    > .gallery {
        display: block;
    }

    > .gallery > .current {
        width: 50%;
        position: absolute;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        
        > .vote-card {
            padding: 1.75rem 1.5rem;
        }

        @include respond-to(small) {
            position: relative;
            width: 100%;
        }
    }

    > .gallery > .aside {
        display: flex;
        justify-content: space-between;
        filter: brightness(0.9);
        pointer-events: none;

        > * {
            width: 50vw;
            overflow: auto;
        }

        @include respond-to(small) {
            display: none;
        }
    }

    .helper-buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }

    .progress {
        text-align: center;
        position: relative;
    }
}

.section-container#vote .vote-container > .bottom {
    .rank-title {
        font-size: 3rem;
    }
    .rank {
        font-size: 2.5rem;
    }
}

.section-container#submissions {
    @include respond-to(extralarge) {
        padding: 5% 25%;
    }
}

.section-container#vote {
    .title {
        text-align: center;
    }
}

.section-container#projects {
    min-height: 100vh;

    @include respond-to(extralarge) {
        padding: 5% 25%;
    }

    .title {
        text-align: center;
    }

    .back {
        display: flex;
        justify-content: center;
    }
}

.section-container#awards .text-box {
    text-align: left;
}

.facebook-container {
    mix-blend-mode: luminosity;
    
    .facebook-embed {
        width: 61%;
        cursor: $cursor-auto-url, auto;

        :hover, :active {
            cursor: $cursor-click-url, pointer;
        }

        @include respond-to(1025px) {
            width: 75%;
        }

        @include respond-to(833px) {
            width: 85%;
        }

        @include respond-to(747px) {
            width: 100%;
        }
    }
}

.section-container#agenda {
    @include respond-to(extralarge) {
        padding: 5% 20%;
    }
}

.section-block#header-section {
    .nes-btn {
        margin: 10px 0;

        @include respond-to(small) {
            font-size: $xm-size;
        }
    }

    .title {
        margin: 25px 0;
        text-align: left;

        @include respond-to(extralarge) {
            padding-left: 5%;
            padding-top: 5%;
        }

        @include respond-to(small) {
            margin: 0;
        }
    }
}

#astro {
    position: fixed;
    right: 15%;
    top: 15%;
    max-width: 100%;
    height: 50%;
    z-index: -1;
    will-change: height, transform;

    @include respond-to(extralarge) {
        top: 15%;
        right: 25%;
    }

    @include respond-to(large) {
        top: 15%;
        right: 25px;
    }
    
    @include respond-to(medium) {
        top: 35%;
        right: 0;
    }

    @include respond-to(small) {
        top: 56%;
        right: -15px;
    }
}

.agenda-container {
    width: 100%;
    display: flex;
    justify-content: center;

    > div {
      position: unset !important;
    }

    .agenda-img {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}
