@mixin card {
    background-color: $stupid-black;
    color: white;
    margin-bottom: 32px;
    padding: 1.5rem;
    text-align: left;
}

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);

        @if $breakpoint == extralarge {
            @media screen and (min-width: $value) {
                @content;
            }
        }
        @else {
            @media screen and (max-width: $value) {
                @content;
            }
        } 
    }

    @else if type_of($breakpoint) == number {
        @media screen and (max-width: $breakpoint) {
            @content;
        }
    }

    @else {
        @warn "Unknown `#{$breakpoint}` in $breakpoints";
    }
}

@mixin dynamic-bg() {
    @each $color, $value in $stupid {
        &.-#{$color} {
           background-color: $value; 
        }
    }
}